<h4> Home Page</h4>

<% if(locals.user) { %>
    <section id="feed-post">
        <div class="container mx-auto d-block w-50 p-3 user-forms">
            <form action="/posts/create" method="post">
                  <div class="mb-3">
                    <label for="Textarea1" class="form-label">Post</label>
                    <textarea class="form-control" name="content" id="Textarea1" rows="3" placeholder="Type here"></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </div>
    </section>
<% } %>
<div class="container" id="userPosts" class="mt-5">
    <% for(post of posts) { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= post.user.name %></h5>
              <p class="card-text"><%= post.content %></p>
              <a href="#" class="card-link">Like</a>
              <a href="#" class="card-link">Comment</a>
            </div>
            <div id="cmnt">
                <% if(locals.user) { %>
                    <form action="/comment/create" method="post">
                        <input type="text" name="content" id="commentbox" placeholder="Comment">
                        <input type="hidden" name="post" value="<%= post._id %>">
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </form>
                <% } %>
            </div>
            <div id="post-comments-list">
                <ul id="post-comment-<%= post._id %>">
                    <% for(comment of post.comment) { %>
                        <li>
                            <p> <%= comment.content %> </p>
                            <small> <%= comment.user.name %> </small>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    <% } %>
</div>

